section#section-2.section-2
    .container
        h2.text-center.section-2__title!= section2.title
        .section-2__list
            .section-2__item
                figure.section-2__figure
                    img.section-2__img(src=section2.item1Img alt=section2.item1Alt)
                .section-2__text!= section2.item1Text
            figure.section-2__center-figure
                img(src=section2.item2Img alt=section2.item2Alt)
            .section-2__item
                figure.section-2__figure
                    img.section-2__img(src=section2.item3Img alt=section2.item3Alt)
                .section-2__text!= section2.item3Text
