section#section-6.section-6
    figure.section-6__center-figure
        img(src=section6.image.src srcset=section6.image.srcset alt=section6.image.alt)
    .section-6__red-box
        .container
            h2.section-6__title #{section6.title}
            p.section-6__text #{section6.text}
            form.form.section-6__form(action='')
                input.form__input.form__input_text.section-6__input(type='email' placeholder='Your email here…' required='')
                input.form__input.form__input_submit.section-6__submit(type='submit' value='submit')
